@model IndexViewModel

@section Scripts
{

    @await Html.PartialAsync("_ValidationScriptsPartial")
}

<div class="row justify-content-center">
    <div class="col-md-9">

        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <button style="margin-bottom:16rem" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <i class="fa-solid fa-arrow-left" style="font-size: 1.5rem; color: black;"></i>
            </button>
            <h3 class="text-center flex-grow-1 mt-4">Popüler Şikayetler</h3>
            <button style="margin-bottom:16rem" class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <i class="fa-solid fa-arrow-right" style="font-size: 1.5rem; color: black;"></i>
            </button>
            <div class="carousel-inner">
                @for (int i = 0; i < Model.PostsViewModel!.Posts.Count(); i++)
                {
                    <div class="carousel-item @(i == 0 ? "active" : "")">
                        <div style="border-radius: 30px;" class="card border-1 bg-transparent p-3">
                            <div class="card-header border-0 bg-transparent ">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <img src="/userpictures/@(Model.PostsViewModel.Posts[i].User.Picture)" class="avatar rounded-circle float-start me-3" style="width: 4rem; object-fit: contain; height: 3rem;">
                                    </div>
                                    <div class="col text-start">
                                        <h5 class="mb-0">@(Model.PostsViewModel.Posts[i].User.UserName)</h5>
                                        <p class="text-muted mb-0">@(Model.PostsViewModel.Posts[i].PublishedDate.ToString("d"))</p>
                                    </div>
                                    <div class="col text-end">
                                        <p class="mb-0">@(Model.PostsViewModel.Posts[i].Comments.Count()) Yorum</p>
                                    </div>
                                </div>
                            </div>
                            @if (Model.PostsViewModel.Posts[i].Content.Length > 140)
                            {
                                <h5 class="text-start mt-4">@Html.Raw(Model.PostsViewModel.Posts[i].Content.Substring(0, 140) + " ...")</h5>
                            }
                            else
                            {
                                <h5 class="text-start mt-4">@Html.Raw(Model.PostsViewModel.Posts[i].Content)</h5>
                            }
                            <div class="card-footer text-center border-0 bg-transparent">
                                <a href="posts/details/@(Model.PostsViewModel.Posts[i].PostId)" class="btn btn-outline-success">
                                    <i class="fa-solid fa-arrow-right-long"></i>Detaylar
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>




<div class="row">
    <div class="col-lg-9">
        <div class="bg-white px-4 pb-4 pt-5">
            <h1 class="h4 mb-4">Yeni Şikayetler</h1>
            <hr class="my-3">
            @foreach (var post in Model.Posts!)
            {
                <div class="card bg-transparent border-0 mb-3">
                    <div class="row">
                        <div class="col-8">
                            <h5><a asp-controller="Posts" asp-action="Details" asp-route-postId="@post.PostId" class="fw-bold">@post.Title</a></h5>

                            @if (Model.PostsViewModel.Posts[0].Content.Length > 180)
                            {
                                <h5 class="text-start mt-4">
                                    @Html.Raw(post.Content!.Substring(0, 180) + "   ...")
                                </h5>
                            }
                            else
                            {
                                <h5 class="text-start mt-4">
                                    <p>@Html.Raw(@post.Content)</p>
                                </h5>
                            }


                            @foreach (var category in post.Categories)
                            {
                                <a href="/posts/category/@category.CategoryId" class="badge bg-@category.Color bg-opacity-10 text-@category.Color mb-2 fw-bold">@category.Text</a>
                            }
                        </div>
                        <div class="col-4">
                            <img src="~/postspictures/@post.Image" class="img-fluid rounded w-100" alt="" style="max-height:12rem;">
                        </div>
                    </div>
                </div>
                <hr class="my-3">
            }
        </div>


    </div>
    <div class="col-lg-3 px-4 pb-4 pt-5">
        <vc:category-menu></vc:category-menu>
        <vc:new-posts></vc:new-posts>
    </div>
</div>
