@model PostsViewModel
<div class="row">
    <div class="col-lg-9">
        <div class="bg-white p-4">
            <h1 class="h4 mb-4">En çok Beğenilen 10 Şikayet</h1>
            <hr class="my-3">
            @foreach (var post in Model.Posts!)
            {
                <div class="card bg-transparent border-0 mb-3">
                    <div class="row">
                        <div class="col-8">
                            <h5><a asp-controller="Posts" asp-action="Details" asp-route-Url="@post.Url" class="fw-bold">@post.Title</a></h5>
                            <p>@Html.Raw(@post.Content)</p>
                            @foreach (var category in post.Categories)
                            {
                                <a href="/post/details/@category.Url" class="badge bg-@category.Color bg-opacity-10 text-@category.Color mb-2 fw-bold">@category.Text</a>
                            }
                        </div>
                        <div class="col-4">
                            <img src="~/postspictures/@post.Image" class="img-fluid rounded w-100" alt="" style="max-height:12rem;">
                        </div>
                    </div>
                </div>
                <div class="card-header" style="display: flex; justify-content: space-between;">
                    <div style="display: flex; align-items: center;">
                        <i class="fa-regular fa-message" style="margin-right: 0.75rem; font-size:1.5rem;"></i>
                        <h4><span id="commentCount"> @post.Comments.Count()</span> Yorum</h4>
                    </div>
                    <div style="display: flex; align-items: center;">

                        <h4><span id="likeCount"> @post.LikeCount</span> Beğeni</h4>

                    </div>
                </div>
               <hr class="my-4">
            }
        </div>


    </div>
    <div class="col-lg-3 p-4">
        <vc:category-menu></vc:category-menu>
        <vc:new-posts></vc:new-posts>
    </div>
</div>