@using System.Security.Claims;

@if (User.Identity!.IsAuthenticated)
{
    <ul class="navbar-nav me-0">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle fw-bold" style="color:black;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                @User.Identity.Name
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item fw-bold" asp-controller="Member" asp-action="Index" asp-route-userName="">Profil</a></li>
                <li><a class="dropdown-item fw-bold" asp-controller="Member" asp-action="PasswordChange">Şifre değiştir</a></li>

                <li><a class="dropdown-item fw-bold" asp-controller="Member" asp-action="UserEdit">Profili güncelle</a></li>

                @if (User.HasClaim(x => x.Type == ClaimTypes.Role && x.Value == "admin"))
                {
                    <li><a class="dropdown-item fw-bold" asp-area="admin" asp-controller="Posts" asp-action="Lists">Admin Panel</a></li>
                }
                <li><a class="dropdown-item fw-bold" asp-route-returnurl="/Home/Index" asp-controller="Member" asp-action="logout">Çıkış yap</a></li>

            </ul>
        </li>

    </ul>
}
else
{
    <button class="btn btn-outline-dark" data-bs-target="#signInModal" data-bs-toggle="modal"><i class="fa-solid fa-right-to-bracket" style="font-size:1rem; margin-right:0.5rem"></i> <span style="font-size:1.2rem;">Giriş Yap / Üye Ol</span> <i class="fa-solid fa-user-plus" style="font-size:1rem; margin-left:0.5rem"></i></button>


    <div class="modal fade" id="signInModal" tabindex="-1" aria-labelledby="signInModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content border-0">
                <form id="signInForm" asp-route-returnUrl="@Context.Request.Query["returnUrl"]" method="post">
                    <div class="row">
                        <div class="col-2">
                            <div class="modal-dama">
                                @for (int i = 0; i < 2; i++)
                                {
                                    <div class="kutu"></div>
                                    <div class="kutu bg-dark"></div>
                                    <div class="kutu bg-dark"></div>
                                    <div class="kutu "></div>
                                }
                                <div class="kutu"></div>
                                <div class="kutu bg-dark"></div>
                            </div>
                        </div>


                        <div class="col-10">
                            <div class="modal-header border-0 mb-0">

                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body border-0">
                                <div id="errorMessages" class="alert alert-danger" style="display: none;"></div>
                                <div class="d-flex  justify-content-between  align-items-center mb-4">
                                    <h1 class="modal-title fs-5" style="font-size: 2rem !important;">Giriş Yap</h1>

                                    <a href="" data-bs-toggle="modal" data-bs-target="#signUpModal" id="signInLink">Hesabın Henüz Yok mu?</a>
                                </div>

                                <div class="mb-3">
                                    <input id="Email"  class="form-control form-control-lg rounded-pill"  placeholder="E-posta adresiniz">
                                    
                                </div>
                                <div class="mb-3">
                                    <input type="password" id="Password"  class="form-control form-control-lg rounded-pill" placeholder="Şifreniz">
                                   
                                </div>
                                <div class="form-check d-flex justify-content-between align-items-center">
                                    <input type="checkbox" id="RememberMe"  class="form-check-input " style="transform: scale(1.5); ">

                                    <label for="RememberMe" class="form-check-label ms-3">Beni Hatırla</label>
                                    <a href="" data-bs-toggle="modal" data-bs-target="#ForgetPasswordModal" id="ForgetPasswordLink" style="margin-left: auto;">Şifremi Unuttum</a>
                                </div>

                            </div>
                            <div class="modal-footer border-0">
                                <button id="signInBtn" type="submit" class="btn btn-success w-100">Giriş Yap</button>

                            </div>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>

    <div class="modal fade" id="ForgetPasswordModal" tabindex="-1" aria-labelledby="ForgetPasswordModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content border-0">
                <form id="ForgetPasswordForm" method="post">
                    <div class="row">
                        <div class="col-2">
                            <div class="modal-dama">
                                @for (int i = 0; i < 2; i++)
                                {
                                    <div class="kutu"></div>
                                    <div class="kutu bg-dark"></div>
                                    <div class="kutu bg-dark"></div>
                                    <div class="kutu "></div>
                                }
                            </div>
                        </div>


                        <div class="col-10">
                            <div class="modal-header border-0 mb-0">

                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body border-0">
                                <div id="ForgetPasswordErrorMessages" class="alert alert-danger" style="display: none;"></div>
                                <div class="d-flex  justify-content-between  align-items-center mb-4">
                                    <h1 class="modal-title fs-5" style="font-size: 2rem !important;">Şifremi Unuttum</h1>

                                    <a href="" data-bs-toggle="modal" data-bs-target="#signUpModal" id="signInLink">Hesabın Henüz Yok mu?</a>
                                </div>

                                <div class="mb-3">
                                    <input id="ForgetPasswordEmail" class="form-control form-control-lg rounded-pill" placeholder="E-posta adresiniz">
                                   
                                </div>

                            </div>
                            <div class="modal-footer border-0">
                                <button id="PasswordForgotBtn" type="submit" class="btn btn-success w-100">Gönder</button>

                            </div>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
    
    

    <div class="modal fade" id="signUpModal" aria-hidden="true" aria-labelledby="signUpModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content border-0">
                <form id="SignUpForm" method="post">
                    <div class="row">
                        <div class="col-2">
                            <div class="modal-dama">
                                @for (int i = 0; i < 3; i++)
                                {
                                    <div class="kutu"></div>
                                    <div class="kutu bg-dark"></div>
                                    <div class="kutu bg-dark"></div>
                                    <div class="kutu "></div>
                                }

                            </div>
                        </div>

                        <div class="col-10">
                            <div class="modal-header border-0">

                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body border-0">
                                <div class="alert alert-danger" id="SignUpError" style="display: none;"></div>
                                <div class="d-flex justify-content-between  align-items-center mb-4">

                                    <h1 class="modal-title fs-5" style="font-size: 2rem !important;">Üye Ol</h1>
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#signInModal" id="signUpLink">Hesabın Var mı?</a>
                                </div>

                                <div class="mb-3">
                                    <input id="SignUpUsername" class="form-control form-control-lg rounded-pill" placeholder="Kullanıcı Adı">
                                </div>
                                <div class="mb-3">
                                    <input id="SignUpEmail" class="form-control form-control-lg rounded-pill" placeholder="E-posta Adresi">
                                </div>
                                <div class="mb-3">
                                    <input type="password" id="SignUpPassword" class="form-control form-control-lg rounded-pill" placeholder="Şifre">
                                </div>
                                <div class="mb-3">
                                    <input type="password" id="SignUpPasswordConfirm" class="form-control form-control-lg rounded-pill" placeholder="Şifreyi Onayla">
                                </div>

                                <div class="form-check">
                                    <input type="checkbox" id="SignUpPermissionAllow"  class="form-check-input ms-1" style=" transform: scale(1.5);">
                                    <label for="SignUpPermissionAllow" class="form-check-label ms-3">Kullanıcı Sözleşmesi ve aydınlatma metni</label>
                                </div>

                            </div>
                            <div class="modal-footer border-0">
                                <button type="submit" class="btn btn-success w-100">Üye Ol</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div id="customAlertOverlay"></div>
    <div id="customAlertBox">
        <div class="text-center" id="customAlertHeader"> <h3>Uyarı</h3></div>
        <div id="customAlertBody">Şifre yenileme linki, e-posta adresinize iletilecektir.</div>
        <div id="customAlertFooter">
            <button class="btn btn-sm btn-outline-secondary" id="customAlertCloseButton">Tamam</button>
        </div>
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            var signInLink = $('#signInLink');
            var signUpLink = $('#signUpLink');
            var forgetPasswordLink = $('#ForgetPasswordLink');

            var signInModal = new bootstrap.Modal($('#signInModal')[0]);
            var signUpModal = new bootstrap.Modal($('#signUpModal')[0]);
            var forgetPasswordModal = new bootstrap.Modal($('#ForgetPasswordModal')[0]);
           

            signUpLink.on('click', function () {
                signUpModal.hide();
                forgetPasswordModal.hide();
                signInModal.show();
            });

            signInLink.on('click', function () {
                  forgetPasswordModal.hide();
                signInModal.hide();
                signUpModal.show();
            });

            forgetPasswordLink.on('click', function () {
                signUpModal.hide();
                signInModal.hide();
                forgetPasswordModal.show();
            });


            function showCustomAlert() {
                $('#customAlertOverlay').fadeIn();
                $('#customAlertBox').fadeIn();
            }

            function hideCustomAlert() {
                $('#customAlertOverlay').fadeOut();
                $('#customAlertBox').fadeOut();
            }

            $('#customAlertCloseButton').click(function () {
                hideCustomAlert();
            });


            $('#signInForm').submit(function (event) {
                    event.preventDefault();

                    var email = $('#Email').val();
                    var password = $('#Password').val();
                    var rememberMe = $('#RememberMe').prop('checked');

                    $.ajax({
                        url: '@Url.Action("SignIn","Home")',
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            "Email": email,
                            "Password": password,
                            "RememberMe": rememberMe,
                            "returnUrl": '@Context.Request.Query["returnUrl"]'
                        },
                        success: function (response) {

                            if (response.success) {
                                window.location.href = "/Home/Index";
                            } else {
                                var errorMessagesContainer = $('#errorMessages');
                                errorMessagesContainer.empty();
                                response.errors.forEach(function (error) {
                                    errorMessagesContainer.append('<p>' + error + '</p>');
                                });
                                errorMessagesContainer.show()
                            }
                        },
                        error: function (response) {
                            alert("Bir hata oluştu. Lütfen tekrar deneyin.");
                        }
                    });
            });

            $('#ForgetPasswordForm').submit(function (event) {
                event.preventDefault();
                var forgetPasswordemail = $('#ForgetPasswordEmail').val();

                $.ajax({
                        url: '@Url.Action("ForgetPassword", "Home")',
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            "Email": forgetPasswordemail
                        },
                        success: function (response) {
                            if (response.success) {
                                showCustomAlert();

                                $('#customAlertCloseButton').one('click', function () {
                                    hideCustomAlert();
                                    var errorMessagesContainer = $('#errorMessages');
                                    errorMessagesContainer.empty();
                                    errorMessagesContainer.hide();
                                    forgetPasswordModal.hide();
                                    $('#Email').val(forgetPasswordemail);
                                    $('#Password').val("")
                                    signInModal.show();                             

                                });
                            } else {
                                var forgetErrorMessagesContainer = $('#ForgetPasswordErrorMessages');
                                forgetErrorMessagesContainer.empty();
                                response.errors.forEach(function (error) {
                                    forgetErrorMessagesContainer.append('<p>' + error + '</p>');
                                });
                                forgetErrorMessagesContainer.show()
                            }
                        },
                        error: function (response) {
                            console.log(response);
                            alert("Bir hata oluştu. Lütfen tekrar deneyin.");
                        }
                });
            });


            $('#SignUpForm').submit(function (event) {
                event.preventDefault();

                var SignUpusername = $('#SignUpUsername').val();
                var SignUpemail = $('#SignUpEmail').val();
                var SignUppassword = $('#SignUpPassword').val();
                var SignUpPasswordConfirm = $('#SignUpPasswordConfirm').val();
                var SignUpPermission = $('#SignUpPermissionAllow').prop('checked');
                var errorMessagesContainer = $('#SignUpError');

                 $.ajax({
                     url: '@Url.Action("SignUp","Home")',
                     type: 'POST',
                     dataType: 'json',
                     data: {
                         "UserName": SignUpusername,
                         "Email": SignUpemail,
                         "Password": SignUppassword,
                         "PasswordConfirm": SignUpPasswordConfirm,
                         "PermissionAllow": SignUpPermission,
                     },
                     success: function (response) {

                         if (response.success) {
                             signInModal.show();
                             signUpModal.hide();
                             $('#Email').val(SignUpemail);
                             SignUpusername.val("");
                             SignUpemail.val("");
                             SignUppassword.val("");
                             SignUpPasswordConfirm.val("");
                             SignUpPermission.prop('checked', false);
                             errorMessagesContainer = $('#SignUpError');
                             errorMessagesContainer.empty();
                             errorMessagesContainer.hide();
                            

                         } else {
                             if (!response.isCheck) {
                                 alert("Kullanıcı sözleşmesini kabul etmek zorunludur");
                             }
                             
                             errorMessagesContainer.empty();
                             response.errors.forEach(function (error) {
                                 errorMessagesContainer.append('<p>' + error + '</p>');
                             });
                             errorMessagesContainer.show()
                         }
                     },
                     error: function (response) {
                         alert("Bir hata oluştu. Lütfen tekrar deneyin.");
                     }
                 });
            });

        });

    </script>



}





