@model Post
<div class="row">
    <div class="col-lg-8">
        <div class="bg-white ps-3 pe-4 ">
            <h1 class="h2 mb-4">@Model.Title</h1>
            <div class="categories">
                @foreach (var category in Model.Categories)
                {
                    <a href="/posts/category/@category.CategoryId" class="badge bg-@category.Color bg-opacity-10 text-@category.Color mb-2 fw-bold">@category.Text</a>
                }
            </div>
            <img src="~/postspictures/@Model.Image" style="height:20rem;" class="img-fluid rounded w-100" alt="">




            <div class="row mb-4 mt-3">
                <div class="d-flex align-items-center">
                    <user-picture-thumbnail class="avatar rounded-circle me-2" style="width:55px; height:5rem;" picture-url="@Model.User.Picture"></user-picture-thumbnail>
                    <a href="/profile/@Model.User.UserName" class="user-link text-decoration-none text-black" style=" font-size: 1.25rem;">
                        <span class="user-name">@Model.User.UserName</span>
                    </a>
                </div>
            </div>


            <div class="mb-4">@Html.Raw(@Model.Content)</div>
            <p style="font-size:1.15rem;">
                <i class="fas fa-calendar-alt"></i><span class="ms-1">@Model.PublishedDate.ToString()</span>
            </p>
        </div>
        <div class="bg-white mt-0">
            <div class="card border-0">
                <div class="card-header" style="display: flex; justify-content: space-between;">
                    <div style="display: flex; align-items: center;">
                        <i class="fa-regular fa-message" style="margin-right: 0.75rem; font-size:1.5rem;"></i>
                        <h4><span id="commentCount"> @Model.Comments.Count()</span> Yorum</h4>
                    </div>
                    <div style="display: flex; align-items: center;">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <i id="thumbsUpIcon" class="fa-regular fa-thumbs-up" style="margin-right: 0.75rem; font-size: 1.5rem;"></i>

                        }

                        <h4><span id="likeCount"> @Model.LikeCount</span> Beğeni</h4>

                    </div>
                </div>


                <div class="card-body">
                    <div id="comment">
                        @foreach (var comment in Model.Comments)
                        {
                            <div class="my-4 d-flex">
                                <user-picture-thumbnail class="avatar rounded-circle float-start me-3" style="width: 55px; height: 5rem;" picture-url="@comment.User.Picture"></user-picture-thumbnail>

                                <div>
                                    <div class="mb-2 d-flex">
                                        <h6 class="me-2">
                                            <a href="/profile/@comment.User.UserName" class="user-link text-decoration-none text-black" style=" font-size: 1.25rem;">
                                                <span class="user-name">@comment.User.UserName</span>
                                            </a>
                                          
                                        </h6>
                                        <span>@comment.PublishedDate.ToString("d")</span>
                                    </div>
                                    <p>@comment.Text</p>
                                </div>
                            </div>
                        }
                    </div>

                    @if (User.Identity!.IsAuthenticated)
                    {
                        <hr class="my-4">
                        <div>
                            <h4>Yorum Ekle</h4>
                            <form asp-controller="Posts" asp-action="AddComment" method="post">
                                <input type="hidden" id="PostId" name="PostId" value="@Model.PostId">
                                <div class="col-md-12">
                                    <label for="Text" class="form-label">Yorum</label>
                                    <textarea name="Text" id="Text" rows="3" type="text" class="form-control"></textarea>
                                </div>
                                <div class="com-md-12 mt-3">
                                    <button id="btnYorumKayit" type="submit" class="btn btn-primary">Kaydet</button>
                                </div>
                            </form>
                        </div>
                    }
                    else
                    {
                        <p>Yorum yapabilmek için giriş yapmalısınız. <a href="/home/index">Giriş Yap</a></p>
                    }


                </div>
            </div>
        </div>
    </div>


    <div class="col-lg-4">
        <vc:category-menu></vc:category-menu>
        <vc:new-posts></vc:new-posts>
    </div>
</div>
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {


        let isClicked = false;

        $(document).on('click', '#thumbsUpIcon', function () {
            let postId = $('#PostId').val();
            let likeCount = parseInt($('#likeCount').text());

            if (!isClicked) {
                $(this).addClass('clicked');
                likeCount++;
                likePost(postId, likeCount);
            } else {
                $(this).removeClass('clicked');
                likeCount--;
                unlikePost(postId, likeCount);
            }

            isClicked = !isClicked;
        });

        function likePost(postId, likeCount) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Like", "Posts")',
                dataType: 'json',
                data: {
                    PostId: postId,
                    Count: likeCount
                },
                success: function () {
                    $('#likeCount').text(likeCount);
                }
            });
        }

        function unlikePost(postId, likeCount) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Unlike", "Posts")',
                dataType: 'json',
                data: {
                    PostId: postId,
                    Count: likeCount
                },
                success: function () {
                    $('#likeCount').text(likeCount);
                }
            });
        }


        $("#btnYorumKayit").click(function(){
            $.ajax({
                type: 'POST',
                url:'@Url.Action("AddComment","Posts")',
                dataType: 'json',
                data:{
                    PostId:$('#PostId').val(),
                    Text:$('#Text').val(),
                },
                success: function(yorum){
                    var date = new Date(yorum.publishedDate);
                    console.log(yorum);

                    $("#comment").append(`
                    <div class="my-4 d-flex">
                    <img style="width:50px;" src="/userpictures/${yorum.avatar}" class="avatar rounded-circle float-start me-3" alt="">
                    <div>
                    <div class="mb-2 d-flex">
                    <h6 class="me-2">
                    <a href="/profile/${yorum.username}" class="user-link text-decoration-none text-black" style=" font-size: 1.25rem; height: 5rem;">
                        <span class="user-name">${yorum.username}</span>
                    </a>
                    </h6>
                    <span>${date.toLocaleDateString()}</span>
                    </div>
                    <p>${yorum.text}</p>
                    </div>
                    </div>
                    `);
                    $("#UserName").val('');
                    $("#Text").val('');

                    var yorumadet = parseInt($("#commentCount").text());
                    var begeniadet = parseInt($("#likeCount").text());
                    $("#commentCount").text(yorumadet + 1);
                    $("#likeCount").text(begeniadet + 1);
                }
            });
            return false;
        });
    });

</script>
    
    
